@{
    Layout = "_Layout";
}

<body>


<img src="https://pp.userapi.com/c854324/v854324771/8847/2K19ULQ7rbg.jpg" style="
                                      position: fixed;
                                      top: 50%;
                                      left: 50%;
                                      margin-top: -2%;
                                      margin-left:  -12%;
                                      height: 400px; 
                                      width: 350px;"/>
@RenderBody()


</body>