@model List<Microsoft.AspNetCore.Identity.IdentityUserLogin<string>>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Logins
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @Html.DisplayFor(modelItem => item)
            </tr>
        }
    </tbody>
</table>
