@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutHome";
}

<div class="text-center">
    <h4 class="display-4">Welcome page</h4>

    <br />

    <h1>
        <a asp-action="Index" asp-controller="Categories">Categories</a>
    </h1>

    <br />

    <h1>
        <a asp-action="Index" asp-controller="Products">Products</a>
    </h1>

    <br />

    <h1>
        <a asp-action="Index" asp-controller="CustomError">Custom Error</a>
    </h1>
</div>
