@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Welcome page</h4>
    
    <br/>
    
    <h1>
        <a href="https://localhost:44333/Categories">Categories</a>
    </h1>
    
    <h1>
        <a href="https://localhost:44333/Products">Products</a>
    </h1>
</div>
